/* src/components/LoadingScreen.css */

.loading-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0f172a;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  gap: 40px; 
  
  z-index: 99999;
}


.loading-logo-scale {
  transform: scale(1.5);
  display: flex;
  justify-content: center;
}

/* Spinner */
.spinner {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.05);
  border-top-color: #E38B2C;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}